extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquid consequatur labore ducimus obcaecati? Vero perferendis pariatur, soluta ipsam optio modi quibusdam in deleniti quae expedita debitis animi quasi excepturi!Autem aliquid dolore odio earum, fugiat in dignissimos placeat repudiandae modi labore, libero laudantium amet debitis doloremque officia, inventore sed ad accusantium. Laudantium earum dolor tempora, laborum culpa dolore repellendus.Nostrum, perferendis. 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid recusandae quo deleniti ut illo sint. Placeat modi obcaecati ipsam dicta nulla officiis temporibus necessitatibus recusandae mollitia. Beatae, expedita. Deleniti, id.
                
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, qui deleniti nemo vero debitis suscipit minima! Impedit beatae omnis dolor, doloribus nemo magnam doloremque voluptate sequi magni natus accusantium odit?
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, perferendis quae! Reiciendis debitis qui accusantium dignissimos impedit quaerat
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, perferendis quae! Reiciendis debitis qui accusantium dignissimos impedit quaerat
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, perferendis quae! Reiciendis debitis qui accusantium dignissimos impedit quaerat